@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* navbar */
.navbar {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: rgb(44, 62, 80);
    transition: all 0.3s ease;

}

.navbar button {
    background-color: rgb(26, 188, 156);
    font-size: 12px;
    padding: 10px;
}

.menu {
    margin-right: 5px;
}

.navbar-brand {
    font-size: 1.75rem;
}



@media (max-width: 991px) {
    .navbar-brand {
        font-size: 1.25rem;
    }
}

/* start section */
.start {
    background-color: rgb(26, 188, 156);
    padding: 100px;
}

.start img {
    width: 268px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.start h1 {
    font-size: 70px;
    font-weight: bold;
}

.start p {
    font-size: 25px;
}

.star-lines {
    width: 110px;
    height: 4px;
    border-radius: 10px;
}

.star-icon {
    margin: 0 10px;
}

@media (max-width: 991px) {
    .start h1 {
        font-size: 3rem;
    }
}

/* portfolio section */

.title {
    font-size: 53px;
    color: rgb(44, 62, 80);
}

/* about section */

.about {
    background-color: rgb(26, 188, 156);
}

.about h1 {
    font-size: 50px;
    font-weight: bold;
}

@media (max-width: 991px) {
    .info:first-of-type {
        margin-bottom: 18px;
    }
}

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    box-shadow: none;
    transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
    border-bottom: 1px solid #2c3e50;
    outline: none;
    box-shadow: none;
}

form {
    width: 55%;
}


.btnSend {
    background-color: rgb(26, 188, 156);
    color: white;
}

/* Footer Styling */
.footer {
    background-color: #2C3E50;
    color: #FFFFFF;
    padding: 40px 0;
    text-align: center;
    position: relative;
    padding-bottom: 100px;
}

.footer-section h4 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.footer-section p {
    margin: 0;
    font-size: 1rem;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.footer .social-icons .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer .social-icons .social-link:hover {
    background-color: white;
    color: black;
}



.footer-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    /* اللون الخلفي */
    color: white;
    text-align: center;
    padding: 10px 0;
}

.footer .footer-link {
    color: #1ABC9C;
    text-decoration: none;
}

.footer .footer-link:hover {
    text-decoration: underline;
}